<h1> <%= @album.title %> </h1>

<%= render "shared/errors" %>

<h3>Tracks</h3>
<br>
<ul>
<% @album.tracks.each do |track| %>
  <li> <a href="/tracks/<%= track.id %>"> <%= track.song_name %> </a></li>
<% end %>
</ul>
<br>

<h3>Links</h3>

<ul>
<li> <%= link_to "Add New Track", new_track_url %> </li>
<li> <%= link_to "Edit #{@album.title}", edit_album_url(@album) %> </li>
<li> <%= link_to "Delete #{@album.title}", album_url(@album), method: :delete %> </li>
<li> <%= link_to "#{@band.name}", band_url(@band) %> </li>
</ul>
