<!DOCTYPE html>
<html>
<head>
  <title>MusicApp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>

<header>
  <% if logged_in? %>
    <%= current_user.email %>
    <%= button_to "Sign-Out", sessions_url, method: :delete %>
  <% end %>

  <%= link_to "Bands Index", bands_url %>
</header>

<body>

<%= yield %>

</body>
</html>
