<h1>New User Login</h1>

  <%= render "shared/errors" %>

  <form action="<%= users_url %>" method="post">
    <%= auth_token %>

    <label for="user_email">Enter Email: </label>
    <input type="text" name="user[email]" id="user_email" value="<%= @user.email %>">
    <br>

    <label for="user_pw">Enter Password: </label>
    <input type="password" name="user[password]" id="user_pw" value="<%= @user.password %>">
    <br>

    <input type="submit" value="Create User">
  </form>
